<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<!--<html lang="en" >-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Video Demo</h3>
<!--<video id="myVideo" controls src ="../0605 Efficient Data Storage for Analytics with Parquet 2 0.mp4" width="300px">-->
<video id="myVideo" controls
       src="C:\Users\Admin\Videos\Free YouTube Downloader\0605 Efficient Data Storage for Analytics with Parquet 2 0.mp4"
       width="300px">

</video>
<p>点击按钮播放或暂停视频。</p>
<button onclick="playVid()" type="button">播放视频</button>
<button onclick="pauseVid()" type="button">暂停视频</button>
<script>
    var x = document.getElementById("myVideo");

    function playVid() {
        x.play();
    }

    function pauseVid() {
        x.pause();
    }
</script>


</body>
</html>